## 1. 


x = 16 - 2 * 5 // 3 + 1


y = 2 ** 3 * 3

what is x?
what is y?

Describe the order that the computation occurred in each case. i.e which happened first, followed by which one, etc.

## 2. 
Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6.

## 3. 
Compute the area of a circle with radius 7, stored into a variable called area. 
Print a nice message with the answer.

Note- Search for the formula to calculate area of a circle.

## 4. 
Write an expression to check to if a number 3, stored in a variable x, is between 0 and 5.

## 5. 

Variables x and y refer to Boolean values.


a. Write an expression that produces True if both variables are True.

b. Write an expression that produces True if at least one of the variables
is True.

c. write an expression that inverses the result of 5a above.

## 6.
Create a list that contains floats and integers, and write a code to sum all the items in the list.

## 7.
list1 = [3, 5, 1, 3, 9, 5, 7] 

Write a code to sort this list in increasing order.

## 8.

list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

## 9.
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22)], 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

NB: Make sure your output contains % sign

## 10.

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that removes any of these names and replaces it with your name in that particular index

## 11. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that prints out the index positon of the name "Rose"

## 12. 

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that adds your name to this list of names

## 13.
sets = {3, 1, 10, 4, 5, 6}

Write a code that sorts this set in asceding order. Print the output, explain the out you got and why.

## 14.

- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

Write a code prints out a new set with all items from both sets by removing duplicates

## 15.

- Create a string that is a long series of words separated by spaces. 
It can be names, cities, animals, anything. Just make it up yourself.
- Turn the string into a list of words using split. 
- Delete two words from the list, but delete each one using a different kind of Python method. 
- Sort the list. 
- Add two new words to the list using two different kinds of Python operation used in adding items to a list. 
- Turn the list of words back into a single string using join. 
- Print the string.

NB: Feel free to use Google to find out other ways to add and remove items from a list

In [10]:
x = 16 - 2 * 5 // (3 + 1)

In [11]:
print(x)
#1. multiplication
#2. addition
#3. division
#4. subtraction
# it follows the PEMDAS  rule

14

In [12]:
y = 2 ** 3 * 3
print(y)

# 1 exponential of 2**3
# multiplication of 8*3

24

In [13]:
#Add parenthesis to the expression 6 * 1 - 2 to change the resulting value from 4 to -6
p= 6*(1-2)
print (p)

-6

In [14]:
#3.Compute the area of a circle with radius 7, stored into a variable called area. Print a nice message with the answer.

b=3.14
i =7
area=b*i*i
print(area)
Message = ("my love for Aisha's voice is one thousand times bigger than {}" .format (area))
print(Message)

153.86
my love for Aisha's voice is one thousand times bigger than 153.86

In [15]:
list1 = [3, 5, 1, 3, 9, 5, 7]

lista=sorted(list1)
print(lista)
print(sorted(lista,reverse=True))
print (min(list1))
print (max(list1))

[1, 3, 3, 5, 5, 7, 9]
[9, 7, 5, 5, 3, 3, 1]
1
9

In [16]:
list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]
print(list2.count(2))
life=(list2[5])
print (life)
life2=list2[5]=101
print(list2)

5
0
[1, 2, 5, 7, 9, 101, 3, 6, 7, 1, 3, 5, 6, 8, 2, 9, 0, 5, 2, 1, 2, 4, 2]

In [17]:
#list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22)], 100, 85.5, 12.4, "Promise", ("11", 90)]

#Using string formatting, write a code that slices out "Chinelo", "Faith", slices out the number 100, 85.5, and 90.

#Your code should print out: Chinelo couldn't score 100%, she got 90%, However, Faith is a close second with 85.5%.

#NB: Make sure your output contains % sign

In [18]:
list3 = ["Tosin", 10.4, 9, (23, "Faith", [10, ["Chinelo", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]
i=(list3[3][1])
print(i)
g=(list3[3][2][1][0])
print(g)
h=(list3[4])
print(h)
l=(list3[5])
print(l)
j=(list3[8][1])
print(j)

Faith
Chinelo
100
85.5
90

In [19]:
hi= ("{} couldn't score {}%, she got {}%, however, {} is a close second with {}%".format((g),(h),(j),(i),(l)))
print(hi)

Chinelo couldn't score 100%, she got 90%, however, Faith is a close second with 85.5%

In [20]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
type(list4)
list4[0]="Uju"
print(list4)

['Uju', 'Ebuka', 'Rose', 'Hassan', 'Bisi']

In [21]:
list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]
list4.index("Rose")

2

In [22]:
list4.append("Uju")
print(list4)

['Chima', 'Ebuka', 'Rose', 'Hassan', 'Bisi', 'Uju']

In [23]:
sets = {3, 1, 10, 4, 5, 6}
print(sets)
print(type(sets))
print(sorted(sets))
#set always print in a sorted form in ascending for. sorting it again is just tautology

{1, 3, 4, 5, 6, 10}
<class 'set'>
[1, 3, 4, 5, 6, 10]

In [24]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
#Write a code prints out a new set with all items from both sets by removing duplicates
print(set1|set2)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#Create a string that is a long series of words separated by spaces. It can be names, cities, animals, anything. Just make it up yourself.
#Turn the string into a list of words using split.
#Delete two words from the list, but delete each one using a different kind of Python method.
#Sort the list.
#Add two new words to the list using two different kinds of Python operation used in adding items to a list.
#Turn the list of words back into a single string using join.
#Print the string.

In [25]:
let=("The most common reason for alloying is to increase the strength of a metal. This requires that barriers to slip be distributed uniformly throughout the crystalline grains")
print(let)

The most common reason for alloying is to increase the strength of a metal. This requires that barriers to slip be distributed uniformly throughout the crystalline grains

In [26]:
str(let)

'The most common reason for alloying is to increase the strength of a metal. This requires that barriers to slip be distributed uniformly throughout the crystalline grains'

In [27]:
ter=list(let.split(" "))
print(ter)

['The', 'most', 'common', 'reason', 'for', 'alloying', 'is', 'to', 'increase', 'the', 'strength', 'of', 'a', 'metal.', 'This', 'requires', 'that', 'barriers', 'to', 'slip', 'be', 'distributed', 'uniformly', 'throughout', 'the', 'crystalline', 'grains']

In [28]:
print(ter.remove("most"))

None

In [29]:
ter.pop(4)
print(ter)

['The', 'common', 'reason', 'for', 'is', 'to', 'increase', 'the', 'strength', 'of', 'a', 'metal.', 'This', 'requires', 'that', 'barriers', 'to', 'slip', 'be', 'distributed', 'uniformly', 'throughout', 'the', 'crystalline', 'grains']

In [30]:
ter.append("me")
print(ter)

['The', 'common', 'reason', 'for', 'is', 'to', 'increase', 'the', 'strength', 'of', 'a', 'metal.', 'This', 'requires', 'that', 'barriers', 'to', 'slip', 'be', 'distributed', 'uniformly', 'throughout', 'the', 'crystalline', 'grains', 'me']

In [31]:
ter[1:1]=["most"]
print(ter)

['The', 'most', 'common', 'reason', 'for', 'is', 'to', 'increase', 'the', 'strength', 'of', 'a', 'metal.', 'This', 'requires', 'that', 'barriers', 'to', 'slip', 'be', 'distributed', 'uniformly', 'throughout', 'the', 'crystalline', 'grains', 'me']

In [32]:
lol=" ".join(ter)
print(lol)

The most common reason for is to increase the strength of a metal. This requires that barriers to slip be distributed uniformly throughout the crystalline grains me

In [33]:
#Write an expression to check to if a number 3, stored in a variable x, is between 0 and 5.
x=range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [34]:
b=3
if b>0<=5:
    print("yes")

yes

In [35]:
#Variables x and y refer to Boolean values.

#a. Write an expression that produces True if both variables are True.

#b. Write an expression that produces True if at least one of the variables is True.

#c. write an expression that inverses the result of 5a above.

In [36]:
x=True
y=False
a=3
b=5
#a. Write an expression that produces True if both variables are True
li=a>0 and 0<b
print(li)

True

In [37]:
#b. Write an expression that produces True if at least one of the variables is True.
print(a > 0 or b==0)

True

In [38]:
print(not li)

False

In [39]:
#Create a list that contains floats and integers, and write a code to sum all the items in the list.
tired=[2,3,4,1]
hello=[3.3,2.2,1.0,2.2]
type(tired)
hi=tuple(tired)
type(hi)
hh=tuple(hello)
type(hh)
life=int(hh)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'tuple'

In [9]:
print ("Type Markdown and LaTeX:  ùõº**2")

Type Markdown and LaTeX:  ùõº**2